[submodule "color-rs"]
	path = color-rs
	url = https://github.com/XionWin/color-rs.git
[submodule "kernel/drm-rs"]
	path = kernel/drm-rs
	url = https://github.com/XionWin/drm-rs.git
[submodule "kernel/gbm-rs"]
	path = kernel/gbm-rs
	url = https://github.com/XionWin/gbm-rs.git
